.gety {
	width: 2.2rem;
	height: 0.6rem;
	background: rgba(237, 237, 237, 1);
	border-radius: 0.1rem;
	margin-left: 0.6rem;
	border: 0px;
}

.getz {
	width: 4.5rem;
	height: 0.6rem;
	background: rgba(237, 237, 237, 1);
	border-radius: 0.1rem;
	margin-left: 0.05rem;
	border: 0px;
}

.getm {
	width: 4.5rem;
	height: 0.6rem;
	background: rgba(237, 237, 237, 1);
	border-radius: 0.1rem;
	margin-left: 0.85rem;
	border: 0px;
}