.box {
	width: 7.5rem;
	height: 13.34rem;
	background: rgba(237, 237, 237, 1);
}

.integral {
	width: 7.5rem;
	height: 0.88rem;
	background: rgba(0, 170, 255, 1);
	display: flex;
	flex-flow: row wrap;
}

.return-img {
	width: 0.25rem;
	height: 0.44rem;
	margin: 0.22rem 0rem;
	margin-left: 0.3rem;
}

.vip-N {
	font-size: 0.36rem;
	font-family: SourceHanSansCN-Regular;
	margin: 0.28rem 2.58rem;
	color: rgba(255, 255, 255, 1);
}

.list div {
	width: 7.5rem;
	height: 0.88rem;
	display: flex;
	flex-flow: row nowrap;
	background: rgba(255, 255, 255, 1);
	margin-bottom: 0.1rem;
}

.tubiao {
	margin-top: 0.23rem;
	margin-left: 0.22rem;
	width: 0.4rem;
	height: 0.4rem;
}

.item {
	font-size: 0.24rem;
	margin-top: 0.32rem;
	margin-left: 0.14rem;
}

.jifen {
	font-size: 0.24rem;
	margin-top: 0.34rem;
	margin-left: 3.31rem;
}

.more {
	width: 0.26rem;
	height: 0.44rem;
	margin-top: 0.24rem;
	position: absolute;
	margin-left: 6.95rem;
}


/*.more1{width:0.26rem;height: 0.44rem;margin-top: 0.24rem;margin-left: 5.2rem;}
.more2{width:0.26rem;height: 0.44rem;margin-top: 0.24rem;margin-left: 5.7rem;}
.more3{width:0.26rem;height: 0.44rem;margin-top: 0.24rem;margin-left: 0.75rem;}*/

.red-d {
	width: 0.1rem;
	height: 0.1rem;
	background: rgba(230, 0, 45, 1);
	border-radius: 50%;
	margin-top: 0.42rem;
	margin-left: 4.69rem;
}