.a1{height: 1.4rem;}
.a2{
	left: 1.42rem;
	top: 0.15rem;
}
.rank{
	margin-left:0.8rem ;
}
.people{
	margin-left: 1rem;
}
.a3{
	top: 0.53rem;
	left: 1.42rem;
}
.phone{margin-left: 0.57rem;}
.nicheng{margin-top: 0.15rem;}
.a3 span{
	font-size: 0.24rem;
}
.B{background:rgba(255,72,72,1)}
