						
			
					
					.box {
						width: 7.5rem;
						height: 13.34rem;
						background: rgba(237, 237, 237, 1);
					}
					
					.top {
						width: 7.5rem;
						height: 0.88rem;
						background: rgba(0, 170, 255, 1);
						display: flex;
						flex-flow: row wrap;
					}
					
					.return-img {
						width: 0.25rem;
						height: 0.44rem;
						margin: 0.22rem 0rem;
						margin-left: 0.3rem;
					}
					
					.vip-N {
						font-size: 0.36rem;
						font-family: SourceHanSansCN-Regular;
						margin: 0.2rem 2.2rem;
						color: rgba(255, 255, 255, 1);
					}
					
					.container {
						display: flex;
						flex-flow: column nowrap;
					}
					
					.list-ul {
				overflow: hidden
			}
			
			.list-li {
				margin-bottom: 0.02rem;
				position: relative;
				width: 7.5rem;
				height: 0.88rem;
				background: rgba(255, 255, 255, 1);
			}
			
			.btn {
				position: absolute;
				top: 0;
				right: -1.2rem;
				text-align: center;
				width: 1.2rem;
				height: 0.56rem;
				padding-top: 0.32rem;
				background: rgba(102, 102, 102, 1);
				font-size: 0.24rem;
				font-family: SourceHanSansCN-Regular;
				font-weight: 400;
				color: rgba(255, 255, 255, 1)
			}
			
			.con {
				width: 7.5rem;
				height: 0.88rem;
			}
			
			.con-img {
				position: absolute;
				top: 0.22rem;
				left: 0.23rem;
				width: 0.4rem;
				height: 0.4rem;
			}
			
			.con-time {
				font-size: 0.18rem;
				font-family: SourceHanSansCN-Regular;
				font-weight: 400;
				color: rgba(153, 153, 153, 1);
				position: absolute;
				top: 0.21rem;
				left: 0.8rem;
			}
			
			.con-rank {
				font-size: 0.18rem;
				font-family: SourceHanSansCN-Regular;
				font-weight: 400;
				color: rgba(102, 102, 102, 1);
				position: absolute;
				top: 0.5rem;
				left: 0.8rem;
			}
			
			.mart002 {
				margin-top: 0.04rem;
			}

					