	.oldmoney {
	
		margin-left:0rem;
	
	}
	
	.zk {
		padding: 0.02rem;
		font-size: 0.01rem;
		margin-left: 0rem;
	}
	.money {
	
	margin-left: 0.5rem;
		
	}
	.goods {
		width: 3.4rem;
		height: 3.2rem;
	
		margin-left: 0.2rem;
	}
	.goods img {
		margin-left:0.6rem;
	}
	.text {
		
		
		margin-left: 0.5rem;
	}