				.box {
					width:100%;
					height: 13.34rem;
					background: rgba(237, 237, 237, 1);
				}
				
				.top {
					width:100%;
					height: 0.88rem;
					background:rgba(45,45,58,1);
					display: flex;
					flex-flow: row wrap;
				}
				
				.return-img {
					width: 0.25rem;
					height: 0.44rem;
					margin: 0.22rem 0rem;
					margin-left: 0.3rem;
				}
				
				.vip-N {
					font-size: 0.36rem;
					font-family: SourceHanSansCN-Regular;
					margin: 0.2rem 2.8rem;
					color: rgba(255, 255, 255, 1);
				}
				
				.gm-img {
					width: 0.37rem;
					height: 0.38rem;
					margin-top: 0.26rem;
				}
				
				.container {
				
					
					height: 12.42rem;
					background:rgba(234,237,250,1);
					padding: 0.2rem;
				}
				
				.in-txjf{
					width:7rem;
height:0.88rem;
background:rgba(211,219,255,1);
border:0.01rem solid ;
border-radius:0.1rem;
font-size: 0.3rem;
 padding-left: 0.1rem;

				}
		  input::-webkit-input-placeholder {
            color: white;
            opacity: 1;
         
        }
.zhu{
	font-size:0.18rem;
margin-top: 0.15rem;
margin-bottom: 0.25rem;
color:#90101A;
}
.adress{
	width: 100%;
	font-size:0.24rem;
	white-space:normal;
word-wrap: break-word;
word-break:break-all;
color:rgba(51,51,51,1);
}
.xiugai{
	font-size:0.24rem;

color:rgba(144,16,26,1);
	float: right;
}
.queding{
	width:7.1rem;
height:0.88rem;
background:rgba(144,16,26,1);
border-radius:0.1rem;
font-size:0.3rem;
margin-top: 0.5rem;
color:rgba(255,255,255,1);
display: flex;
justify-content: center;
align-items: center;
}
